.directory_s{margin:10px 0px 0px 10px; height:100%; overflow:hidden; padding:0px 0px 10px 0px;  border:1px solid #e8e8e8; border-bottom-width:2px;}
.directory_s ul li{float:left; display:inline; width:150px; margin:9px 16px; text-align:center; height:150px;  border:1px solid #ededed; overflow:hidden;}
.directory_s ul li p{margin:10px; font-weight:bold; font-size:12px;}
.directory_s ul li p a{text-decoration:underline;color: #FF5A00;}
