p.fp04{ padding-top:5px;}

.ad757{ width:100%; clear:both;}

.neissw{ width:975px; margin:0px auto; clear:both; height:54px;}

.ncatebg{ width:210px; height:29px; float:left; margin-top:4px;background:url(../images3/ncatebg.gif) no-repeat left top; color:#FFFFFF; position:relative; cursor:pointer; z-index:9999}

.ncatebg p{font-size:15px; font-weight:bold; text-indent:10px; line-height:28px; margin:0px; padding:0px;}

.nssw{ width:745px; float:right;}

#ul-auto_scroll_item{ width:780px; clear:both; height:30px; border:1px #eaeaea solid; border-top:0px;}

#ul-auto_scroll_item li {
    background: url("/images/overbg.jpg") repeat-x scroll 0 0 transparent;
    color: #333335;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 136px;
}

#ul-auto_scroll_item li.overpic{ background:#fff;}

#ul-auto_scroll{width:780px; clear:both; border:1px #eaeaea solid; border-bottom:0px; height:295px; overflow:hidden;}



.p975{ width:975px; margin:0px auto; clear:both;}

.p9751{width:975px; margin:0px auto; clear:both; height:10px; overflow:hidden; border-top:1px #eee solid;}



.catepos{ position:absolute; left:0px; top:26px;}

.bbaner{ width:100%; clear:both; height:200px;}

.bbaner1{ width:100%; clear:both; font-family:Arial, Helvetica, sans-serif; background:url(../images3/banner/bbg.jpg) repeat-x top; height:90px;}

.bbaner1 li {
    display: inline;
    float: left;
    height: 85px;
    padding: 10px 0 0 8px;
    width: 250px;
}

.b1tu{ width:200px; float:left;}

.b1wen{ width:162px; float:left; height:140px; padding-right:8px;}

p.b1bt{ width:162px; line-height:18px; height:36px; overflow:hidden; margin-top:18px; font-size:12px;}

p.b1text{ line-height:18px; margin-top:6px; color:#999999; font-size:11px;}



.bbaner2{ width:100%; clear:both; font-family:Verdana, Arial, Helvetica, sans-serif;background:url(../images3/banner/bbg.jpg) repeat-x top; height:149px;}

.bbaner2 li{ width:245px; float:left; display:inline; height:149px; margin-left: 6px;}

.b2tu{ width:90px; float:left;}

.b2wen{ width:90px; float:left; height:100px; padding-right:8px; padding-left: 8px;}

p.b2bt {
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin-top: 5px;
    overflow: hidden;
    width: 100px;
}

p.bwas{ margin-top:5px; font-size:14px; text-decoration:line-through; color:#333335;}

p.bpri{ margin-top:5px; font-weight:bold; color:#EC6941}



/*

 * 通用样式

 * 2012-04-24 11:42:57 by mashanling

 */

.font-12 { font-size: 12px; }

.font-14 { font-size: 14px; }

.font-red, { color: red; }

.font-green { color: green; }

.font-666 { color: #666; }

.font-grey { color: grey; }

.font-bold { font-weight: bold; }



.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.text-underline { text-decoration: underline; }



.display-block { display: block; }

.display-none { display: none; z-index:1000; }



.float-left{ float: left; }

.float-right { float: right; }



.cursor-pointer{ cursor: pointer; }



.bg-fff { background: #fff; }





.ps1{ position: absolute; width: 60px; height: 20px; top:0px; right:10px; background:url(../images/ps1.gif) no-repeat; z-index:1; color:#FFFFFF;;}

.offus{ position: absolute; width: 42px; height:40px; top:7px; right:10px; background:url(../images/offus.png) no-repeat; _background-image: url(../images/offus.gif); z-index:2; color:#FFFFFF; font-size:18px; font-family:Trebuchet MS; font-weight:bold; padding:4px 0px 0px 2px; text-indent:4px;;}

.usa{ position: absolute; width: 40px; height: 40px; top:5px; right:10px; background:url(../images/usa.png) no-repeat; _background-image: url(../images/usa.gif); z-index:1;}



.fn1{ position: absolute; width: 44px; height: 44px; top:5px; right:3px; background:url(../images/fn1.png) no-repeat; _background-image: url(../images/fn1.gif); z-index:1;}

.fn2{ position: absolute; width: 48px; height: 48px; top:5px; right:10px; background: url(../images/fn2.png) no-repeat; _background-image: url(../images/fn2.gif); z-index:1;color:#FFFFFF; font-size:18px; font-weight:bold; padding-top:7px; text-indent:6px;}

.fn3{ position: absolute; width: 44px; height: 44px; top:5px; right:3px; background:url(../images/fn3.png) no-repeat; _background-image: url(../images/fn3.gif); z-index:1;}

.fn4{ position: absolute; width: 44px; height: 44px; top:5px; right:3px; background:url(../images/fn4.png) no-repeat; _background-image: url(../images/fn4.gif); z-index:1;}



.plist_pic .fn2{ top:-15px; left:0px; z-index:2;}

.plist_pic .fn3{ top:-13px; left:0px;}

.plist_pic .fn4{ top:-13px; left:0px;}

.plist_pic .fn1{ top:-13px; left:0px;}



.plist_pic .offus{ top:-15px; left:0px;}

.plist_pic ..ps1{ top:-15px; left:0px;}

.plist_pic .usa{ top:-15px; left:0px;}



.fn5{ position: absolute; width: 46px; height: 46px; top:5px; right:6px; background:url(../images/fn5.png) no-repeat; _background-image: url(../images/fn5.gif); z-index:1; color:#FFFFFF; font-size:16px; font-weight:bold; padding-top:11px; text-indent:7px;}



ul.allcate {

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid #DDDDDD;

    left: 0;

    position: absolute;

    top: 32px;

    width: 170px;

}

ul.allcate li {

    border-bottom: 1px dashed #DDDDDD;

    font-size: 11px;

    height: 22px;

    line-height: 22px;

	font-weight: normal;

	width: 170px;

}

.clear88 {

    clear: both;

    height: 10px;

    overflow: hidden;