@charset "utf-8";
/* CSS Document */

.detail_info, .detail_body{ height:auto; margin:0px auto 0 auto;}
.detail_body{ padding-bottom:10px;}
.detail_info_left {
    height: 520px;
    width: 452px;
}
/*detail_lib start*/
#preview {
    float: none;
    margin: 0;
    overflow: hidden;
    text-align: center;
    width: 452px;
}
.jqzoom {
    border: 1px solid #D5D6DB;
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 450px;
}
.zoomdiv{ left:859px;_left:862px; }
.list_h li{float:left;}
#spec_n5 {
    height: auto;
    overflow: hidden;
    padding-top: 10px;
    width: 452px;
}
#spec_left{ background:url(../images/left.gif) no-repeat right; width:8px; height:50px; float:left; cursor:pointer; margin-top:0px;}
#spec_right{background:url(../images/right.gif) no-repeat left; width:8px; height:50px; float:left;cursor:pointer; margin-top:0px;}
#spec_list {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 430px;
}
#spec_list ul{ margin:0px; padding:0px; }
#spec_list div{ margin-top:0;*margin-left:0;}
#spec_list ul li {
    display: inline;
    float: left;
    height: 52px;
    padding-right: 10px;
    width: 52px;
}
#spec_list ul li img {
    height: 50px;
    width: 50px;
}
.jqzoom,.jqzoom1{position:relative;padding:0;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:411px;height:318px;background:url(../images/loading.gif) #fff no-repeat center center;border:1px solid #e4e4e4;display:none;text-align:center;overflow: hidden;}
.bigimg{width:860px;height:666px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:45px;height:35px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}

.jqzoom1{ width:380px; height:380px; position:relative; border:#d5d6db solid 1px; overflow:hidden;}

#spec_list1 ul li,#spec_list2 ul li,#spec_list3 ul li,#spec_list4 ul li {
    display: inline;
    float: left;
    height: 39px;
    margin: 0;
    padding: 0 5px;
}
#spec_list1 ul li img,#spec_list2 ul li img,#spec_list3 ul li img,#spec_list4 ul li img {
    border: 1px solid #CCCCCC;
    height: 35px;
    width: 45px;
}
.deal8 .spec_right {
    background: url("../images/right.gif") no-repeat scroll left center transparent;
    cursor: pointer;
    float: left;
    height: 35px;
    margin-top: 0;
    width: 8px;
}
.deal8 .spec_left {
    background: url("../images/left.gif") no-repeat scroll right center transparent;
    cursor: pointer;
    float: left;
    height: 35px;
    margin-top: 0;
    width: 8px;
}
.deal8 .jqzoom{ width:348px; height:270px; position:relative; border:#d5d6db solid 1px; overflow:hidden;}