/* Global */

form,img,ul,ol,li,dl,dt,dd,p{margin:0;padding:0;border:0;}
li{list-style-type:none;}
em{font-style:normal;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
img{-ms-interpolation-mode:bicubic;}
input{vertical-align:middle;}
input,button,select,textarea{outline:none;font-family:Verdana,Geneva,sans-serif;}
textarea{resize:none;vertical-align:middle; font-size:12px; border:#ddd solid 1px;}
.focal_txt{height:26px; color:#666; width:262px; border:#ddd solid 1px;padding: 0px 0 0 5px;line-height: 26px;border: #DDD solid 1px;background: url(../Images/common/common.png) 0 0 no-repeat;}
select{ border:#ddd solid 1px;  color:#666; font-size:11px;}

/* font size*/
.f10{font-size:14px;}
.f11{font-size:14px;}
.f12{font-size:14px;}
.f13{font-size:14px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.lh40{ line-height:40px;}
/* font color*/
.cred{color:#333335}
.cff{color:#fff}
.c99{color:#333335}
.c00{color:#333335}
.c010{color:#333335}
.c66{color:#333335}
.c33{color:#333335}
.cf50{color:#ff5a00;}
.c65a{color:#65a000}
.cblue,.csteelblue{color:#114ea6;}
.cgreen{color:#56A600}
.c9d6{color:#9d6338;}
/*link*/


.ulink,.ulink:link,.ulink:visited,.nlink:hover{text-decoration:underline;}
.nlink,.nlink:link,.nlink:visited,.ulink:hover{text-decoration:none;}
.cf50:link,.cf50:visited,.cf50:hover{color:#0188cc; text-decoration:none}
.cf50ulin:link,.cf50ulin:visited,.cf50ulin:hover{color:#0188cc; text-decoration:underline}
.cblueulin:link,.cblueulin:visited,.cblueulin:hover{color:#0188cc; text-decoration:underline}
.cblue:link,.cblue:visited,.cblue:hover{color:#0188cc; text-decoration:none}

/*margin padding*/
.mauto{margin:0 auto;}
.pl10{padding-left:10px;}
.pb5{ padding-bottom:5px;}
.pl5{ padding-left:5px;}
.pl20{ padding-left:20px;}
.pt10{ padding-top:10px;}
.pt5{ padding-top:5px;}
.pr10{padding-right:10px;}
.mb10{margin-bottom:10px;}
.mt10{margin-top:10px;}
.mt5{margin-top:5px;}
.mb5{margin-bottom:5px;}
.mr10{ margin-right:10px;}
.mr20{ margin-right:20px;}
.mr5{ margin-right:5px;}
/*988.gs*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.fleft{float:left;}
.fright{float:right;}
.alignC{text-align:center}
.alignL,.topic_title.alignL{text-align:left;}
.alignR{text-align:right}
.fb{ font-weight:bold}
.db{ display:block}
.l150{ line-height:150%}
.l200{ line-height:200%}
.hide{ display:none}
.border1{border:#ececec solid 1px}


.focalerrorTips{margin:0 15px 10px 15px; padding:0 10px; line-height:25px; height:25px;}
.focalerrorTips.errorTxt{background:#fff8eb;border:#f4c978 solid 1px;color:#ff5a00}


.txterror_wapper, .txterror_wapper_left{height:auto;margin:0 0 0 0;position: relative; overflow:hidden;}
.txterror_wapper .error_ico,.txterror_wapper .error_ico_up, .txterror_wapper.errotTips .error_ico, .txterror_wapper.errotTips .error_ico_up{display:block;position:absolute;background:url(../Images/detail/list_ico.gif) no-repeat;}

.txterror_wapper.errotTips .error_ico{left:0px;top:8px; background-position:0 -463px;width: 5px;height: 7px;}
.txterror_wapper .error_ico{background-position:-14px -463px;width: 5px;height: 7px;}

.txterror_wapper .txterror, .txterror_wapper.errotTips .txterror{border:#e1e1e1 solid 1px; left:0; top:5px;margin:4px 0 0 0;padding:5px 10px;color: #999;background:#f1f1f1; float:left;font-size:11px;}

.txterror_wapper.errotTips .txterror{border:#ffb552 solid 1px; background:#FFF9F1; color:#FD7A05;}

.txterror_wapper .error_ico_up{ left:15px; top:0px; background-position:-20px -463px;width: 7px;height:5px;}

.txterror_wapper.errotTips .error_ico_up{background-position:-6px -463px;}
.reg_txt{ width:255px; padding:4px 0 0 5px; line-height:25px; margin:0; height:21px; border:#ddd solid 1px; background:url(../Images/common/common.png) 0 0 no-repeat;}
.reg_txt.w175{width:175px;}

/*方向向左*/
.txterror_wapper_left span{display:block;position:absolute; top:5px;background:url(../Images/detail/list_ico.gif) no-repeat;background-position:-14px -463px;width: 5px;height: 7px; z-index:5}
.txterror_wapper_left .txterror{border:#e1e1e1 solid 1px; z-index:4; left:4px; top:0px;margin:0;padding:5px 10px;color: #999;background:#f1f1f1; float:left;font-size:11px; position:relative}

.txterror_wapper_left.errorTips span{background:url(../Images/detail/list_ico.gif) no-repeat;background-position:0 -463px;}
.txterror_wapper_left.errorTips .txterror{border:#ffb552 solid 1px; background:#FFF9F1; color:#FD7A05;}


.txterror_wapper .error_ico_left{}
.nodata{line-height:50px; text-align:center; padding-bottom:30px}
#tooptip{height:35px;width:100%; width:500px; margin:5px auto 0 auto;}
