@charset "utf-8";

.form_4{ float:right; overflow:hidden; width:755px; position:relative;}
.daily_madness{ height:220px; overflow:hidden;}
/******************新daily madness样式***********************/
.deals_countdown{ height:45px; position:relative;}
.deals_countdown .Hour,.deals_countdown .Min,.deals_countdown .Sec{width:45px; height:45px; line-height:45px; font-size:36px; color:#FFFFFF; position:absolute; background:transparent; border:none;font-family:Arial; padding-top:8px;}
.deals_countdown .Hour{ left:303px;}
.deals_countdown .Min{ left:355px;}
.deals_countdown .Sec{ left:408px;}
.bealtop{padding-left:460px;}
.bealtop2{padding-left:250px;font-size:14px;font-weight:bold;line-height:55px;}
.bealtop2 a:link, .bealtop2 a:visited{color:#ffffff;}

.deals_countdown1 {
    background-image: url("productimg.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-weight: bold;
    height: 25px;
    padding-left: 5px;
    position: relative;
}
.deals_countdown1 .Hour, .deals_countdown1 .Min, .deals_countdown1 .Sec {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    position: absolute;
    width: 45px;
}
.deals_countdown1 .Hour{ left:133px;}
.deals_countdown1 .Min{ left:160px;}
.deals_countdown1 .Sec{ left:188px;}
.bealtop{padding-left:460px;}
.sizecolor{font-size:12px; line-height:25px; padding-left:50px;}