/*Pic*/

ul,li{margin:0;padding:0;border:0;}

li{list-style-type:none;}

h1{margin:0;padding:0;font-size:14px;font-weight:normal;}

.fleft{float:left;}

.hide{ display:none}



/*≤‡¿∏≤Àµ•*/



#dsav ul li.expand{ background:#fff}

#dsav ul li.nochildren span,#dsav ul li.expand.active span{background:url(list_ico.gif) 5px -379px no-repeat;}

#dsav ul li.expand span,#dsav ul li.expand.active span{background:url(list_ico.gif) 0 -354px no-repeat;}

#dsav ul li.expand a{color:#000000}

#dsav ul li.expand ul li.expand a{background:url(list_ico.gif) 0 -392px no-repeat;color:#333335;}


#dsav ul li a:hover{color:#0188cc;}

#dsav ul li a.active{background:#aaa;color:#fff;height:auto;margin-top:1px;}




#dsav ul li ul li a:hover,#dsav ul li ul li a.active{background:url(list_ico.gif) 25px -372px no-repeat;text-decoration:none;color:#F60;}

#dsav ul li.expand ul li.expand ul{width:208px;height:auto;border-top:none;padding:0 0 5px 0;margin-left:10px;background:#fff;border-bottom:#f5edd9 solid 1px;}

#dsav ul li.expand ul li.expand ul li a{text-indent:25px;height:21px;display:block;font-size:11px;color:#333335;width:221px;background:#fff url(list_ico.gif) 20px 9px no-repeat;}

/*write_review*/



.revieweditems_h h1{color:#333335; font-size:12px;}

.revieweditems_h a{text-decoration:underline;color:#333335;}

