#pm_vb {
	BORDER-BOTTOM: #c4c5c5 1px solid; POSITION: relative; BORDER-LEFT: #c4c5c5 1px solid; WIDTH: 750px; HEIGHT: 250px; BORDER-TOP: #c4c5c5 1px solid; BORDER-RIGHT: #c4c5c5 1px solid
}
.vb_content_area {
	POSITION: absolute; WIDTH: 750px; HEIGHT: 250px; TOP: 0px
}
.vb_content {
	POSITION: absolute; WIDTH: 555px; DISPLAY: none; HEIGHT: 250px; TOP: 0px
}
.vert_buttons {
	POSITION: absolute; OVERFLOW: hidden; LEFT: 532px
}
.vert_button {
	POSITION: relative; DISPLAY: none
}
.vert_button H4 {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 14px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial Black,sans-serif; COLOR: #474749; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 5px;
}
.vert_button P {
	PADDING-LEFT: 5px; FONT-FAMILY: Arial; COLOR: #474749; FONT-SIZE: 12px
}
.vb_image {
	POSITION: relative; WIDTH: 85px; FLOAT: left; HEIGHT: 82px
}
.vb_image IMG {
	POSITION: relative; TOP: 12px; LEFT: 10px
}
.vb_text {
	POSITION: relative; WIDTH: 100px; FLOAT: left; HEIGHT: 82px
}
.vb_off {
	BORDER-BOTTOM: #c4c5c5 1px solid; BORDER-LEFT: #c4c5c5 1px solid; WIDTH: 198px; BACKGROUND: #e7e7e7; HEIGHT: 82px; CURSOR: pointer; LEFT: 19px
}
.vb_on {
	PADDING-LEFT: 20px; WIDTH: 198px; BACKGROUND: url(/images/cs/vert_button_on.png) no-repeat; HEIGHT: 86px; CURSOR: default
}
