@charset "utf-8";
/* CSS Document*/
/*define menu*/

* html .search-bar-autocomplete {width: 360px; padding: 0 0px 0 5px;}
* html .search-bar { 
background-color:#ffffff;
margin: 14px 0px 0 -3px;
width:768px;
background-image: url(../images/top_bg_gray.gif);
background-repeat: repeat-y;
background-position: 0 0;
}  
* html .search-bar-keyword {width: 300px;}

/* search-bar start */

.search-select-box {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 40px;
    position: absolute;
    right: 70px;
    top: 6px;
    width: 180px;
}
.drop-down-activation{border-color:#549bdd #004b91 #004b91 #549bdd;}
.search-category{display:none;position:absolute;top:41px;left:0;}
.search-category-list{overflow-y:scroll;overflow-x:hidden;width:178px;height:249px;border:solid 1px #0088cc;border-color:#0088cc #0088cc #0088cc #0088cc;background:#fff;}
.search-category-list li {
    color: #333333;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0 0 0 10px;
    width: 150px;
}
.search-category-list li.hover{color:#fff;background:#333;}
.search-category-list li.sub-line{cursor:default; border-top:1px dashed #ccc; margin-top:8px; height:5px; overflow:hidden; line-height:5px;}

.search-bar-advanced{position:absolute;top:6px;right:161px;height:29px;line-height:29px;font-size:11px;}
.search-bar-cart{position:absolute;top:4px;right:5px;width:104px;height:31px;line-height:31px;font-weight:700;padding-left:41px;text-decoration:none;font-size:12px;
border-width:1px;border-style:solid;border-color:#d2d2d2 #b4b4b4 #b4b4b4 #d2d2d2;;background:url(http://image.dhgate.com/dhs/fob/img/home/nhp1108.png) no-repeat -289px -58px;}
.search-bar-cart:hover{text-decoration:underline;}
.search-bar-cart span{color:#ff8000;text-decoration:none;vertical-align:top;}
.search-bar-cart:hover span{text-decoration:none;}
/* search-bar end */
* html #list_bg_img{ font-size:12px; line-height:150%}
* html #list_bg_img a{ font-size:12px; line-height:150%}
* html .commnet_write {font-size:12px;}
* html .prolist88 {font-size:12px; clear:both} 
* html #product_info_con{ width:625px}
#navblock .product_title { background: url("../images/ico.png") no-repeat scroll 0 -1px transparent; padding-left:25px;}
* html .history_view li span {width: 108px; }
.Channel_box {
    border-bottom: 1px solid #BFC9DC;
    padding: 15px 0;
}
.DropShipping_Clients {
    overflow: hidden;
    padding: 0 20px 0 0;
    width: 570px;
}
.mb20 {
    margin-bottom: 20px;
}
.c175 {
    color: #17569B;
}
.f20 {
    font-size: 20px;
}
.Channel_Monthly_Deals {
    height: 270px;
    overflow: hidden;
    width: 570px;
}
.Channel_Monthly_Deals li {
    float: left;
    height: 255px;
    margin: 0 8px 10px 7px;
    position: relative;
    width: 157px;
}
.Channel_Monthly_Deals li p {
    margin-bottom: 2px;
}
.Channel_Monthly_Deals li .photo a {
    border: 1px solid #E5E5E5;
    display: block;
    height: 120px;
    width: 155px;
}
.f11 {
    font-size: 14px;
}
.Channel_Monthly_Deals li p {
    margin-bottom: 2px;
}
.textline {
    text-decoration: line-through;
}
.c99 {
    color: #333335;
}
.f14 {
    font-size: 14px;
}
.fb {
    font-weight: bold;
}
.c200 {
    color: #C20000;
}

.cff5 {
    color: #FF5D00;
}
.Channel_Monthly_Deals li .off {
    background: url("../images/channel_icon08.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: 31px;
    left: 0;
    line-height: 13px;
    padding-top: 7px;
    position: absolute;
    top: 0;
    width: 42px;
}
.cblue:link, .cblue:visited, .cblue:hover {
    color: #114EA6;
    text-decoration: none;
}
.btn_submit07 {
    background: url("/images/imgBox/submit_07.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 40px;
    margin: 0 131px 9px 74px;
    padding: 0;
    width: 243px;
}
.btn_submit07 a, .btn_submit08 a {
    display: block;
    height: 40px;
    width: 243px;
}
.btn_submit08 {
    background: url("/images/imgBox/submit_08.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 40px;
    margin: 0 131px 0 74px;
    padding: 0;
    width: 243px;
}
.jion-img-gad {
    height: 123px;
    margin-right: 5px;
    width: 186px;
}
.pl20 {
    padding-left: 20px;
}
.pb10 {
    padding-bottom: 10px;
}
.c175 {
    color: #17569B;
}
.pl40 {
    padding-left: 40px;
}
.cf06 {
    color: #F06B1E;
}
.Channel_what li span.ico01 {
    background: url("/images/imgBox/channel_icon02.jpg") no-repeat scroll 0 0 transparent;
}
.Channel_what li span.ico03 {
    background: url("/images/imgBox/channel_icon04.jpg") no-repeat scroll 0 0 transparent;
}
.Channel_what li span.ico02 {
    background: url("/images/imgBox/channel_icon03.jpg") no-repeat scroll 0 0 transparent;
}
.Channel_what li span.ico04 {
    background: url("/images/imgBox/channel_icon05.jpg") no-repeat scroll 0 0 transparent;
    height: 31px;
}
.pl38 {
    padding-left: 38px;
}
.f18 {
    font-size: 18px;
}
.Channel_what li span {
    display: block;
    float: left;
    height: 37px;
    width: 38px;
}
.Channel_what li {
    background: none repeat scroll 0 0 #FEFFF1;
    border: 1px solid #F49B69;
    color: #505050;
    float: left;
    font-size: 14px;
    line-height: 18px;
    margin: 0 15px 10px 0;
    padding: 0 6px 16px;
    width: 430px;
}
.Channel_box_items {
    display: inline;
    float: left;
    margin-left: 15px;
    width: 470px;
}
.Channel_pic {
    height: 113px;
    width: 197px;
}
.c5a5 {
    color: #5A5A5A;
    float: right;
    width: 260px;
}
.pb8 {
    padding-bottom: 8px;
}
.mb5 {
    margin-bottom: 5px;
	margin-top:5px;
}
.Channel_icon01 {
    background: url("/images/imgBox/channel_icon01.jpg") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 12px;
    margin-right: 4px;
    width: 14px;
	float:left;
}
.Channel_icon09 {
    background: url("/images/imgBox/channel_icon09.jpg") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 6px;
    margin-bottom: 2px;
    margin-right: 4px;
    width: 4px;
}
.c004:link, .c004:visited, .c004:hover {
    color: #004088;
    text-decoration: underline;
}
.Channel_box_con {
    width: 785px;
}
.l18 {
    line-height: 18px;
}
.l22 {
    line-height: 22px;
}
.ml20 {
    margin-left: 20px;
}
.asked {
    width: 400px;
}
.workpic {
    height: 103px;
    overflow: hidden;
    width: 685px;
}
.mt40 {
    margin-top: 40px;
}
.ml40 {
    margin-left: 40px;
}
.mt20 {
    margin-top: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.mainn {
    margin: 0 auto;
    position: relative;
    width: 980px;
}
#content {
    margin: 0 auto;
    width: 1000px;
}
.logo a {
    background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 60px;
    margin: 10px 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 200px;
}
.menuu {
    background: url("../images/menu_bg.png") repeat-x scroll 0 0 transparent;
    height: 30px;
    margin-top: 13px;
    position: absolute;
    right: 0;
    top: 0px;
    width: 700px;
}
.menuu li.newarrivals {
    background: url("../images/ico6.png") no-repeat scroll 5px -152px transparent;
    padding-left: 35px;
    width: 80px;
}
.menuu li a {
    color: #FFFFFF;
    display: block;
    font-family: Verdana,Geneva,sans-serif;
    height: 30px;
    text-decoration: none;
	line-height:30px;
}
.menuu li {
    border-right: 1px solid #FFFFFF;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    text-align: left;
}
.menuu li.deals {
    background: url("../images/ico6.png") no-repeat scroll 5px -202px transparent;
    padding-left: 35px;
}
.bannerr {
    background: url("../images/bannerr.jpg") no-repeat scroll 0 0 transparent;
    height: 355px;
    overflow: hidden;
    width: 980px;
}
.affiliatee {
    margin-left: 24px;
    width: 934px;
}
.update {
    background: url("../images/update.gif") no-repeat scroll 0 0 transparent;
    font-style: italic;
    height: 44px;
    line-height: 22px;
    margin-top: 4px;
    overflow: hidden;
    padding: 19px 20px 0 93px;
    width: 821px;
}
.who {
    margin-top: 17px;
}
.who h3 {
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.who .a_text {
    line-height: 16px;
    padding-top: 6px;
}
.what {
    margin-top: 31px;
}
.what h3 {
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.what .a_text {
    padding-top: 9px;
}
.what .a_text table {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FAFAFA;
    border-color: #E6E6E6;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0 1px;
}
.what .a_text table td.title {
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}
.what .a_text table td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E6E6E6;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    height: 40px;
    line-height: 40px;
}
.what .a_text table td.level {
    color: #333333;
    padding-left: 10px;
    width: 206px;
}
.what .a_text table td.rate {
    color: #333333;
    width: 79px;
}
.what .a_text table td.reach {
    color: #333333;
    padding-left: 31px;
}
.example {
    background: url("../images/img_01.jpg") no-repeat scroll right top transparent;
    height: 143px;
    margin-top: 23px;
    overflow: hidden;
    padding-right: 347px;
}
.example h3 {
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding-top: 14px;
}
.example .a_text {
    color: #333333;
    line-height: 18px;
    padding-top: 10px;
}
.example .a_text .ff5a00 {
    color: #FF5A00;
    font-size: 14px;
    font-weight: bold;
    padding-top: 7px;
}
.what_next {
    margin-top: 39px;
}
.what_next table {
    border-left: 1px solid #E8E8E8;
    border-top: 2px solid #1F64B1;
}
.what_next table td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E8E8E8;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    height: 40px;
    line-height: 40px;
}
.what_next h3 {
    color: #1B61AF;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}
.what_next td.icon {
    height: 27px;
    padding-top: 13px;
    text-align: center;
    width: 39px;
}
.what_next td.ms {
    font-size: 14px;
    padding-left: 15px;
}
.what_next td.ms1 {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0 20px 15px;
}
.what_next td.ms1 a {
    text-decoration: underline;
}
.what_next td.ms1 font {
    color: #0000FF;
    text-decoration: underline;
}
.what_next td.ms1 .join_box {
    padding-top: 20px;
}
.join_box ul li.list01 {
    width: 252px;
}
.join_box ul li {
    display: inline;
    float: left;
    margin-right: 10px;
}
.join_box ul li .photo {
    border: 1px solid #E1E1E1;
    height: 65px;
}
.join_box ul li .joinusnow a {
    background: url("../images/joinusnow.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 26px;
    margin: 10px auto 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 142px;
}
.join_box ul li.list02 {
    width: 204px;
}
.what_next td.ms font {
    color: #FF5A00;
}
.what_provide {
    margin-top: 20px;
}
.what_provide h3 {
    border-bottom: 1px solid #E8E8E8;
    color: #1B61AF;
    font-size: 18px;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    padding-left: 11px;
}
.what_provide ul {
    background: url("../images/ulbg.gif") no-repeat scroll 11px 11px transparent;
    padding: 6px 0 25px 35px;
}
.what_provide ul li {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}
.joinnow {
    background-color: #FF5A00;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    height: 52px;
    line-height: 52px;
    padding-left: 50px;
    width: 1000px;
}
.revieweditems_h {
    height: 25px;
    line-height: 25px;
    width: 200px;
}
.revieweditems_h h1, .revieweditems_h h5 {
    color: #333335;
    font-size: 14px;
    font-weight: normal;
}
#dsav {
    border-top: 0 none;
    height: auto;
    overflow: hidden;
    width: 200px;
}
#dsav ul li {
    border-bottom: 1px solid #EAEAEA;
    height: auto;
}
#dsav ul li span {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 10px;
    margin: 8px 0 0 10px;
    overflow: hidden;
    width: 10px;
	background:url("/images/list_ico.gif") no-repeat scroll 0 -327px transparent;
}
#dsav ul li a {
    color: #333335;
    display: inline-block;
    font-size: 14px;
    height: 19px;
    overflow: hidden;
    padding-left: 8px;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}
#dsav ul li ul {
    background: none repeat scroll 0 0 #FFFFFF;
    height: auto;
    padding-bottom: 10px;
    width: 200px;
}
#dsav ul li ul li {
    border-bottom: medium none;
	height:auto;
}
#dsav ul li ul li a, #dsav ul li.expand ul li a {
    background: url("/images/list_ico.gif") no-repeat scroll 25px -372px #FFFFFF;
    color: #666666;
    display: block;
    font-size: 11px;
    height: 19px;
    text-indent: 30px;
    width: 174px;
}
.connInner {
    height: auto;
    margin-left:5px;
    overflow: hidden;
    width: 1080px;
}
.tags_hots{
    margin-bottom: 10px;
}
.listhead ul.tabs {
    margin-right: 5px;
    width: auto;
}
.listhead ul.tabs li:hover, .listhead ul.tabs li.active {
    background: url("../images/v6-icon.png") no-repeat scroll right -178px #FFFFFF;
    color: #333335;
	height: 29px;
    line-height: 29px;
    padding: 0 10px;
}
.listhead ul.tabs li.active a {
    color: #333335;
    font-weight: bold;
}
.items.addborder {
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    overflow: hidden;
    padding: 15px 0 0 12px;
}

.recent_nodata.fleft.alignC.hide{
    margin: 5px 0 15px;
    width:500px;
}
.alignC {text-align: center;}

.cate_describe {
    background: none repeat scroll 0 0 #F9F9F9;
    height: auto;
    padding: 10px;
    width: 780px;
}
.cate_list {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #F16301;
    padding: 15px 10px 0;
    position: relative;
    width: 770px;
    z-index: 60;
}
.cate_list.mauto.mt20 {
    margin-top: 20px;
}
.bot_con {
    border: 1px solid #C9C9CB;
    height: auto;
    overflow: hidden;
    padding-top: 1px;
	clear:both;
}
.recenthistory {
    border-right: 1px solid #C9C9CB;
    width: 500px;
	float:left;
}
.recenthistory_h, .continueshopping_h {
    background-color: #F8F8FA;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: left;
    text-indent: 8px;
	border-bottom: 1px solid #C9C9CB;
}
.tags_hots_list {
    border-bottom: 1px solid #C9C9CB;
    border-left: 1px solid #C9C9CB;
    border-right: 1px solid #C9C9CB;
}
.recent_nodata {
    height: 178px;
    line-height: 50px;
    width: 400px;
}
.r_searches {
    border-top: 1px solid #c9c9cb;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding-left: 10px;
    width: 490px;
}
.continueshopping {
    width: 795px;
	float:left;
}
.continueshopping_h {
    width: 797px;
}
.continueshopping_m {
    height: 230px;
    margin-right: 10px;
    overflow: hidden;
    padding-left: 10px;
    width: 775px;
}
.continueshopping_m .continue_pages.mr10 {
    margin-right: 6px;
}
.continueshopping_m .continue_pages {
    float: left;
    height: 30px;
    margin-top: 60px;
    width: 20px;
}
.continue_pages .continue_prev, .continue_pages .continue_next {
    cursor: pointer;
    height: 30px;
    width: 20px;
}
.continue_warp {
    float: left;
    height: 230px;
    overflow: hidden;
    position: relative;
    width: 775px;
}
.continue_warp .items.continue {
    height: 220px;
    left: 0;
    position: absolute;
    top: 0;
    width: 775px;
}

.items {
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 12px 0 0 3px;
    position: relative;
    z-index: 20;
}
.items .itembox.ml12 {
    margin-left: 15px;
}
items .itembox {
    display: inline;
    float: left;
    height: 230px;
    padding-bottom: 4px;
    position: relative;
    width: 170px;
}

.items .proImg {
    display: table-cell;
    height: 120px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 155px;
}
.items .proImg a:link, .items .proImg a:visited {
    border: 1px solid #E5E5E5;
    display: block;
    height: 120px;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    width: 155px;
}
.items .proImg img {
    height: 120px;
    position: relative;
    width: 155px;
    z-index: 1;
}
.items .proName {
    clear: both;
    margin-top: 5px;
    padding-right: 2px;
	line-height: 14px;
}

.items .proPri, .items .proRank {
    margin: 2px 0;
}
.ul_recently {
    overflow: hidden;
    padding: 7px 10px 0;
    width: 480px;
}
.ul_recently li {
    height: auto;
    margin: 0 auto 5px;
    overflow: hidden;
    width: 480px;
}
.rview_spic {
    display: block;
    float: left;
    height: 50px;
    overflow: hidden;
    width: 50px;
}
.rview_name, .rview_price {
    float: left;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    padding: 10px 0 1px 10px;
    width: 320px;
}
.topseller.mt10.w220{
    height: auto;
    overflow: hidden;
    width: 210px;
}
.topseller_h {
    color: #154B9F;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    width: 210px;
}
.topseller .topseller_m {
    border-top: medium none;
    height: auto;
    overflow: hidden;
    width: 210px;
}
.topseller_m li {
    float: left;
    height: 55px;
    overflow: hidden;
    padding: 8px 0 0;
    width: 200px;
}
.topseller_pic {
    border: 1px solid #CCCCCC;
    display: inline-block;
    float: left;
    height:45px;
    overflow: hidden;
    width: 45px;
}
.topseller_pro_name {
    height: 33px;
    line-height: 33px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 0 0 1px 10px;
    width: 140px;
}
.topseller_price {
    height: 13px;
    line-height: 13px;
    padding-left: 10px;
}
a.seemore {
    color: #FF6600;
    text-decoration: underline;
}
.topmenu_l li .currency_menu a:hover, ul.topmenu_r li div.account_menu a:hover{ color:#000000; text-decoration:underline; }

.shop_by_price {
    padding: 10px 0 0;
}

.price_input {
    border: 1px solid #CCCCCC;
    height: 15px;
    line-height: 15px;
    padding: 3px;
    width: 43px;
}
.pricego {
    background: url("../images/detail.png") no-repeat scroll -139px -227px transparent;
    border: medium none;
    cursor: pointer;
    height: 23px;
    vertical-align: middle;
    width: 66px;
}
.listhead {

    background: url("../images/v4-icon.png") repeat-x scroll 0 -148px transparent;
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
	border-top:1px solid #dddddd;
    height: 29px;
    position: relative;
    z-index: 50;
}
.listhead ul.tabs {
    margin-right: 5px;
    width: auto;
}
.listhead ul.tabs li:hover, .listhead ul.tabs li.active {
    background: url("../images/v4-icon.png") no-repeat scroll right -178px #FFFFFF;
    color: #000000;
	 height: 29px;
    line-height: 29px;
    padding: 0 10px;
}

.listhead ul.tabs li a em {
    color: #333335;
}
.viewType {
    height: 28px;
    line-height: 28px;
}
.viewType a {
    color: #333335;
    text-decoration: none;
	font-weight: bold;
}
.viewType a.ulink {
    font-weight: normal;
    text-decoration: underline;
}
.iconvlist {
    background: url("../images/detail.png") repeat scroll 0 -168px transparent;
    display: inline-block;
    float: left;
    height: 14px;
    margin: 8px 0 0 7px;
    overflow: hidden;
    text-indent: -9999px;
    width: 17px;
}
.iconvimg {
    background: url("../images/detail.png") repeat scroll -21px -168px transparent;
    display: inline-block;
    float: left;
    height: 14px;
    margin: 8px 0 0 7px;
    overflow: hidden;
    text-indent: -9999px;
    width: 17px;
}
.list_sort {
    height: 28px;
    line-height: 28px;
    padding-right: 12px;
    position: relative;
}
.cf50:link, .cf50:visited, .cf50:hover {
    color: #0188cc;
    text-decoration: none;
}
.list_sort a {
	border:1px solid #F5F5F5;
    border-image: none;
    display: inline-block;
    padding: 6px 15px 5px 8px;
    position: relative;
    z-index: 4;
}
.list_sort a.active{
	padding-bottom:6px;
}
.listhead ul.tabs li {
    background: url("../images/v4-icon.png") no-repeat scroll right -178px transparent;
    color: #333333;
    height: 29px;
    line-height: 29px;
    padding: 0 10px;
}
.list_sort {
    line-height: 28px;
}
.mline{
    background: url("../images/v5-icon.png") no-repeat scroll 0 -113px transparent;
    height: 35px;
    margin: 0;
    padding: 0;
    width: 2px;
}
.recenthistory_h a {
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    text-decoration: underline;
}
.alignCC fleft {
    width: 245px;
	text-align: center;
}
.starr {
    background: url("../images/bbstar.gif") repeat-x scroll 0 0 transparent;
    display: inline-block;
    height: 12px;
    margin: 0;
    overflow: hidden;
    width: 70px;
}
.starr span {
    background: url("../images/bbstar.gif") repeat-x scroll 0 -12px transparent;
    display: block;
    line-height: 12px;
    overflow: hidden;
    text-indent: -9999px;

}
.alignCC.fleft img{ border:1px solid #DDDDDD;}
.f12{ color:#333335; text-decoration:none;}
.help_body .HelpNav {
    border-left: 1px solid #EEEEEE;
    float: right;
    line-height: 20px;
    padding-left: 25px;
    width: 790px;
}
.goog-te-gadget-simple {
    background-color: #FFFFFF;
    border-color: #9B9B9B #D5D5D5 #E8E8E8;
    border-left: 1px solid #D5D5D5;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 10pt;
    margin-top: 5px;
    padding-bottom: 2px;
    padding-top: 1px;
}
.fleft{ float:left;}
.Sign1 {
    background: none repeat scroll 0 0 #F8F8FA;
    border: 1px solid #C9C9CB;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    width: 100px;
	margin-right:20px;
	margin-top:10px;
}
.Register1 {
	background: none repeat scroll 0 0 #F8F8FA;
    border: 1px solid #C9C9CB;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    width: 100px;
	margin-right:20px;
	margin-top:10px;
}
.Sign1 a {
    height: 30px;
    line-height: 30px;
    margin: 0 27px;
}
.Register1 a {
    height: 30px;
    line-height: 30px;
    margin: 0 27px;
}