.r02bg {

    border-left: 1px solid #DDDDDD;

    border-right: 1px solid #DDDDDD;

    border-top: 2px solid #1B61AF;

    float: left;

    font-size: 13px;

    font-weight: bold;

    height: 26px;

    line-height: 25px;

    margin-top: 10px;

    text-indent: 10px;

    width: 790px;

}

.r02bg88{

    font-size: 13px;}

.rightside02 {

    border-bottom: 1px solid #DDDDDD;

    border-left: 1px solid #DDDDDD;

    border-right: 1px solid #DDDDDD;

    float: right;

    overflow: hidden;

    width: 750px;

}

 

.rightside02 li {

    display: inline;

    float: left;

    height: 230px;

    margin-left: 6px;

    margin-right: 6px;

    margin-top: 10px;

    padding: 10px 5px;

    width: 164px;

}

a.uu8:link {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: normal;

	color: #1B61AF;

	text-decoration: none;

}

a.uu8:visited {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: normal;

	color: #1B61AF;

	text-decoration: none;

}

a.uu8:hover {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-weight: normal;

	color: #1B61AF;

	text-decoration: underline;

}

.classtitle {

    float: left;

    width: 100%;

}
.ByCatNewArr h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 4px 0 0;
    text-indent: 11px;
}

.ByCatNewArr ul {



    margin-left: 4px;

    overflow: hidden;

    padding: 5px 0 10px 10px;

    width: 740px;

	margin-top:-2px;

}

.ByCatNewArr li {

    float: left;

    height: 20px;

    line-height: 20px;

    width: 181px;

}
.ByCatNewArr {
    margin-bottom: 5px;
    overflow: hidden;
    padding-bottom: 5px;
}

.mr10 {

    margin-right: 10px;

}



.tabel {

  border: 1px solid #A1A1A1;

  margin-bottom: 20px;

  width: 100%;

}

.tabel .thead, .tabel .tfoot {

  background: url("../images/bg_table_title.png") repeat-x scroll 0 0 transparent;

  height: 30px;

}


.wishlist_items .tfoot a.delete {

    margin: 5px 0 0 10px;

}

.wishlist_items #pages {

    padding-right: 2px;

}

.guid_id{float:left; width:750px;; padding:17px;}
.guid_id1{width:180px; float:left;}
.guid_id1 li{float:left; width:165px;}
.guid_di2{width:320px; float:left; margin-top:20px;}
.guid_di3{width:200px; float:left; margin-top:20px;}
.guid_di2 li{float:left; width:320px;}
.guid_di3 li{float:left; width:200px;line-height:25px;}


#Content li h4 {
    background: url("../images/helpico.gif") no-repeat scroll 0 -1070px transparent;
    color: black;
    font-weight: bold;
    text-indent: 8px;
}
.CategoryDetails{ background-color:#F8F8FA; padding:3px; height:50px;}
.red1{height:30px; background-color:#E6EAED;padding:3px; line-height:30px;}
.instorefr{float:right;padding-right:3px;}
#localtime{ float:right; font-family:Verdana, Geneva, sans-serif; font-size:14px; font-variant:small-caps; line-height:40px;}